body {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    font-weight: 300;
    background-color: #eeeeee;
    font-size: 1.25rem;
}

#root {
    margin: auto;
}

.pageContainer {
    width: 100%;
    height: 100%;
}

.sectionHeading {
    font-weight: 600;
    letter-spacing: 0.15em;
}

.ls-sm {
    letter-spacing: 0.15em;
}

/* Navbar */
.navbar .nav-link {
    font-size: 1rem;
    font-weight: 500;
    color: #777777;
    text-align: end;
}

.nav-link:focus {
    color: var(--bs-nav-link-color);
}

a:hover {
    color: black !important;
}

.active a {
    color: black !important;
}

@media screen and (max-width: 767.98px) {
    #menu {
        font-size: 0.75rem;
    }
    .navbar .nav-link {
        font-size: 0.85rem;
    }
}

/* Footer */
footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.contactLogo {
    margin-right: 1.25rem;
    max-width: 40px;
}

/* Home */
.full-name {
    font-size: 1.75rem;
}

@media screen and (max-width: 575.98px) {
    .homeContainer {
        font-size: 1rem;
    }
    .full-name {
        font-size: 1.15rem;
    }
}

/* About Me */
.bio-text {
    width: 75%;
    line-height: 2;
}

.headshot {
    width: 25%;
}

@media screen and (max-width: 767.98px) {
    .aboutMeContainer {
        font-size: 1rem;
    }
    .bio-text {
        width: 90%;
        line-height: normal;
    }
    .headshot {
        width: 50%;
    }
}

/* Experience */
.experienceContainer {
    width: 75%;
    font-size: 1.25rem;
}

.company-logo {
    max-width: 7.5%;
    margin-right: 1.5rem;
}

.accordion-body {
    font-size: 1rem;
}

.accordion-body ul {
    margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .experienceContainer {
        font-size: 1rem;
    }
    .accordion-body {
        font-size: 0.85rem;
    }
    .accordion-body ul {
        padding-left: 0;
        margin-bottom: 0;
    }
    .accordion-button {
        padding: 0.75rem;
        font-size: 0.85rem;
    }
}

@media screen and (max-width: 767.98px) {
    .experienceContainer {
        width: 100%;
        font-size: 0.85rem;
    }
    .company-logo {
        display: none;
    }
    .accordion-body {
        font-size: 0.75rem;
    }
    .accordion-body ul {
        padding-left: 0;
        margin-bottom: 0;
    }
    .accordion-button {
        padding: 0.75rem;
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 425px) {
    .experienceContainer {
        width: 100%;
        font-size: 0.75rem;
        padding: 0.25rem;
    }
    .sectionHeading {
        margin-bottom: 0.5rem;
    }
}

@media screen and (max-width: 320px) {
    .sectionHeading {
        margin-bottom: 0.5rem;
    }
    .company-logo {
        display: none;
    }
    .accordion-body {
        padding: 0.25rem 0.8rem;
        font-size: 0.70rem;
    }
    .accordion-body ul {
        padding-left: 0;
        margin-bottom: 0;
    }
    .accordion-button {
        padding: 0.75rem;
        font-size: 0.70rem;
    }
}


/* Projects */
.projectsContainer {
    width: 50%;
}

.project-row {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
    background-color: #ffffff;
    border-radius: 10px;
}

.project-logo-container {
    width: 25%;
    border-radius: 10px;
}

.project-logo {
    height: 100%;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

.project-text-container {
    font-size: 1rem;
    flex-grow: 1;
    width: 75%;
}

@media screen and (max-width: 768px) {
    .project-text-container {
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 575px) {
    .project-logo-container {
        width: 55%;
    }
    .skills {
        display: none;
    }
    .project-text-container p {
        margin: 0;
    }
}

@media screen and (max-width: 375px) {
    .project-text-container p {
        margin: 0;
    }
}

/* fullpage.js */
.section{
    height: 100% !important;
}

.fp-watermark {
    margin-bottom: 1rem;
}